<app-navbar></app-navbar>
<div class="container">
  <!--<div class="starter-template">-->
  <!--<h1>Bootstrap starter template</h1>-->
  <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
  <!--</div>-->
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="onClickUploadFile()">Upload file</button>
      <button class="btn btn-success" (click)="onClickDownloadPrivateFile()">Download private file</button>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentUser.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let user of allUsers" class="dropdown-item" (click)="onSelectUser(user)">{{user.name}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr>


  <ul class="list-group">
    <li class="list-group-item" *ngFor="let file of visibleFiles$ | async">
      <div class="row">
        <div class="col-md-6"><h6 [ngStyle]="getFileStyle(file)">{{file.path}}/{{file.name}}</h6></div>
        <div class="col-md-2">{{file.ownerUserId}}</div>
        <div class="col-md-4 text-right">
          <button class="btn btn-success" (click)="onDownloadFile(file)">Download</button>
          <button class="btn btn-danger" (click)="onDeleteFile(file)">Delete</button>
          <button [disabled]="file.ownerUserId !== currentUser.id" class="btn btn-info"
                  (click)="onClickTogglePublic(file)">{{file.isPublic ? 'Public' : 'Private'}}
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
